.row{
    padding: 20px;
    border-style: double;
    border-color: blueviolet
}
div{
    background-color: #ddc4f1;
}
h2,h3{
    display: inline;
}
h2{
    text-decoration: underline;
}
h1{
    font-style: italic;
    color: #154360;
}
