<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Instituto Nuestra Señora de la Paz</h2>
                <h3> 2010 - 2015</h3>
            </li>
            <p> Bachiller Tecnico Administrativo
            </p>
        </ul>
        <ul>
            <li>
                <h2>Universidad de Buenos Aires</h2>
                <h3> 2017 - Actualidad</h3>
            </li>
            <p>Estudiante de Ciencias Medicas.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Universidad de Buenos Aires</h2>
                <h3> 2021 - Actualidad</h3>
            </li>
            <p>Estudiante de Tecnicatura Universitaria en Hemoterapia e Inmunohematología.
        </ul>
    </div>
</div>
