.row{
    padding:20px;
    background-color:#ddc4f1 ;
}
.contenedor{
width: auto;
}
.item1{
    display:inline-block;
    text-align: justify;
}
.item2{
    display:inline-block;
    text-align: justify;
}
.img-proyecto{
    border-radius: 100%;
    box-shadow: 10px 10px 30px #000da180;
    width: 200px;
    }
    h1{
        font-style: italic;
        color: #154360;
    }