<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Covedisa SA</h2>
                <h3> 03/2016 - 08/2017</h3>
            </li>
            <p>Atención al público telefónicamente. Recepción de llamados con motivo de consultas, reclamos, cobros de importes, venta de productos.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio Juridico Palmero</h2>
                <h3> 03/2019 - 07/2019</h3>
            </li>
            <p>Atención al público personal y telefónicamente. Realizacion de llamados para asegurar cobros de importes pendientes de varios clientes.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Farmacity</h2>
                <h3> 06/2022 - actualidad</h3>
            </li>
            <p>Atención al público en mostrador de farmacia, realizando ingreso, reposicion y venta de distintos productos farmaceuticos
            </p>
        </ul>
    </div>
</div>
